* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
}

.block {
    display: block;
    width: 700px;
    word-wrap: break-word;
}

.myBtn {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    background: transparent;
    border: 1px solid gray;
    border-radius: 20%;
    margin: 20px;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.1);
}

.myInput {
    font-size: 17px;
    padding: 3px 70px;
    margin: 2px 5px 10px 10px;
    border: 1px solid gray;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.1);
}

.redButt {
    background-color: rgb(241, 160, 160);
    width: 22px;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(0.9);
    border: 0ch;
}
.redButt:hover {
    transform: scale(1);
}

.hr {
    margin: 15px 0;
}

.compl {
    display: flex;
    margin: 20px 15px;
    font-size: 19px;
}

.emp {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    font-size: 30px;
}

.list {
    font-size: 20px;
}

.files {
    position: absolute;
    left: 350px;
    top: 25px;
}

.littlebox {
    border: 0.5px solid black;
    margin: 2px;
}